
/* base */
body {
    font-family: "Raleway", sans-serif;
    position: relative;
    max-width: 96%;
    
}

#global-page {
    padding-left: 1.5rem;
}


/* header */
header {
    display: flex;
    justify-content: space-between;

}

header nav {
    display: flex;
}

header nav a {
    margin-right: 3rem;
    font-size: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

header nav a:hover{
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

header nav a:active {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

.register  {
    margin: 0;
    font-weight: bold;
    color: #0065FC;
}

/* main search */
.search h1 {
    font-weight: 700;
    font-size: 22px;
}

.search p {    
    font-size: 12px;
    margin: 0;
    display: flex;
    align-items: center;
}

/* main form*/
form {
    display: flex;
    position: relative;
    margin-left: 1rem;
    margin-top: 1.8rem;
}

form i {    
    background-color: #F2F2F2;
    padding: 0.7rem 1rem;
    border-radius: 16px 0 0 16px;
}

.search-input {    
    padding: 0.5rem;
    font-weight: 700;
    font-size: 15px;
}

.search-button {
    padding: 0 1.2rem;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 16px 16px 0;
    border: none;
}

/* filtre */
#filter {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top: 2rem;
}

#filter-box {
    display: flex;
    margin-left: 2rem;
}

.granule {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 1rem;
    padding-right: 1rem;
    border: 2px solid #F2F2F2;
    border-radius: 3rem;
    background-color: white;
    box-shadow: 2px 2px 10px #F5F5F5;
}

.granule:hover {
    border: 1px solid #0065FC;
    box-shadow: 0 0 0.5rem grey;
}
.granule i {
    padding: 1rem 1rem;
    border-radius: 100%;
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#result {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result i {
    border: 1px solid #D9D9D9;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    color: #0065FC;
    font-size: 12px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hébergement */
#booking-all {
    background-color: #F2F2F2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;
}

.booking-title h2 {
    font-size: 22px;
    margin: 0%;
    margin-bottom: 1.5rem;
}

#booking-result {
    display: flex;
    justify-content: space-between;
}
 
.booking-column img {
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-radius: 16px 16px 0 0;
}
    
.booking-column  {
    display: flex;
    flex-direction: column;
    justify-conten: space-around;
    padding: 0 2rem 0 0;
}

.booking-column a {
    text-decoration: none;
    color: black;   
}

.booking-card {
    margin-bottom: 2rem;
    border: 3px solid white;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 0.5rem grey; 
}

#booking-result h3 {
    font-size: 13px;
    margin: 0;
}

#booking-result p {
    font-size: 11px;
}
 
.content {
    padding: 0.5rem
}

.plus {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#booking {
    display: flex;
}

/* Les plus populaires*/
#booking-popularity {
    background-color: #F2F2F2;
    border-radius: 16px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 50px;
    
}

.booking-row {
    border: 3px solid white;
    border-radius: 16px;
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 0.5rem grey;
    padding: 0 5rem 0 0;
}

#popularity-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;    
}

#popularity-title h2 {
    font-size: 22px;
    margin: 0%;
    margin-bottom: 1.5rem;
}

#popularity-title i {
    margin-bottom: 1.5rem;
}

#popularity-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#popularity-result img {    
    border-radius: 16px 0 0 16px;
    width: 132px;
    height: 132px;
    object-fit: cover;
}

.booking-row-text {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
}

.booking-row-text h3 {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-row-text p {
    font-size: 11px;
    max-width: 100%;
}

.ooking-row-text i {
    padding-top: 30px;
    max-width: 94px;
    max-height: 15px;
}

.notation {
    font-size: 10px;
}

.valid {
    color: #0065FC;
}

.unvalid {
    color: #F2F2F2;
}

/* Activités*/
#activity {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-bottom: 3rem;
}

#activity-all {
    display: flex;
    flex-wra: wrap;
    justify-conten: space-between;
}

#activity h2 {
    font-size: 22px;
}

.activity-fat{
   object-fit: cover;
   justify-content: space-between;
   margin-right: 32px;
   border-radius: 16px;
   box-shadow: 0 0 0.5rem grey ;
   margin-bottom: 1rem;
}

#activity-2, #activity-3, #activity-5, #activity-6{
    heigh: 45%;
    object-fit: cover;
    justify-content: space-between;
    margin-right: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 0.5rem grey;
    display: flex;
    align-items: center;
}

.activity-slim {
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   margin-bottom: 1rem;
}

.activity-box {
    text-decoration: none;
}

.ativity-box img {
    width: 300px;
    height: 150px;
}

.activity-box h3 {
    padding-left: 16px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.img-fat {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.img-slim {
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.about-section {
    text-decoration: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    list-style: none;
    margin-left: -25px;
    padding-bottom: 10px;
}

.about-section li {
    list-style: none;    
}

.about-section h3 {
    font-size: 15px;
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: -12px;
}

.about-section ul {
    height: 50%;    
}

/* Responsive */
/*@media screen and (max-width: 1200px) {
    #popularity-result {
        border: pink solid;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    #booking-popularity {
        max-widt: 800px;
    }
    
}

@media screen and (max-width: 1050px) {
    .booking-row-text {
        width: 145px;
    }
}
@media  screen and (max-width: 790px) {

    
    #booking-all {
        margin-bottom: 2rem;
        width: 96%;
    }
    #booking-popularity {
        
        margin-left: 0px;
        width: 96%;
        
    }
    #booking {
        display: flex;
        flex-wrap: wrap;
        
    }
    #booking-result {
        display: flex;
        flex-direction: column;
    }
    .booking-card {
        width: 80%;
    }  
}*/

@media screen and (max-width: 1377px) {
    #global-page {
        padding-left: 0.5rem;
    }

    .booking-row {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #booking-popularity {
        margin-left: 1rem;
    }
    .booking-row-text i {
        padding-top: 0;
    }
    .booking-row-text {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
    #popularity-result img {
        width: 236px;
        height: 112px;
        border-radius: 16px 16px 0 0;
    }
    .activity-fat{
        margin-right: 1rem;
    }
    #activity-2, #activity-3, #activity-5, #activity-6 {
        margin-right: 1rem;
    }
    .img-fat {
        width: 230px;
        heigh: 110px;
    }
    .img-slim {
        width: 230px;
    }
    header {
        display: block;
    }
    header nav {
        padding-top: 1rem;
    }
}

@media all and (max-width : 822px){
    #filter {
        
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #filter-box {
        display: block;
        margin-left: 0;
    }

    .granule {
        margin: 1rem 0;
    }

    #booking-all:nth-child(1) {
        order: 2;
    }
    #booking-popularity:nth-child(2) {
        order: 1;
    }
    #booking {
        flex-direction: column;
    }
    .booking-row {
        flex-direction: row;
    }
    #popularity-result img {
        width: 132px;
        border-radius: 16px 0 0 16px;
    }
    .booking-row-text i {
        padding-top: 1.5rem;
    }
    #booking-popularity {
        margin: 0;
        width: 292px;
    }
    #booking-all {
        background-color: white;
    }
    #booking-result {
        display: block;
    }
    .booking-card {
        margin-bottom: 1rem;
        width: 292px;
    }
    .booking-card img {
        width: 292px;
    }
    .booking-card p {
        margin: 0.4rem 0;
    }
    .booking-column {
        margin: 0;
    }
    .plus {
        margin-top: 1rem;
    }
    #activity-all {
        display: block;
    }
    .activity-fat, #activity-2, #activity-3, #activity-5, #activity-6 {
        width: 292px;
        height: 190px;
        margin-right: 0;
        display: block;
    }
    .img-fat, .img-slim {
        width: 292px;
        height: 150px;
    }
    .activity-box h3 {
        padding: 0.5rem 0 0 0.5rem;
        margin: 0;
    }
     #activity-3, #activity-6 {
         margin-top: 1rem;
     }
}