/* Base */
body {
    position: relative;
    max-width: 96%;
    font-family: "Raleway", sans-serif;
}

#global-page {
    padding-left: 1.5rem;
}


/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-left: 3rem;
}

.header-nav-link {
    padding-top: 2rem;
}

header nav a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

.book-activ a:hover {
    border-top: 3px solid #0065FC;
}

.register {
    color: #0065FC;
    font-weight: bold;
}


/* main search */
.search h1 {
    font-weight: 700;
    font-size: 22px;
    margin-top: 0;
}

.search p {    
    font-size: 12px;
    margin: 0;
    display: flex;
    align-items: center;
}

.search-loupe {
    display: none;
}


/* main form*/
form {
    display: flex;
    position: relative;
    margin-left: 1rem;
    margin-top: 1.8rem;
}

#gps {    
    background-color: #F2F2F2;
    padding: 0.7rem 1rem;
    border-radius: 16px 0 0 16px;
}

.search-input {    
    padding: 0.5rem;
    font-weight: 700;
    font-size: 15px;
    border: 2px #F2F2F2 solid;
}

.search-button {
    padding: 0 1.2rem;
    margin-left: -0.5rem;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 16px 16px 0;
    border: none;
}


/* filtre */
#filter {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin: 2rem 0;
}

#filter-box {
    display: flex;
    margin-left: 2rem;
}

.granule {
    display: flex;
    position: relative;
    margin-right: 1rem;
    padding-right: 1rem;
    border: 2px solid #F2F2F2;
    border-radius: 3rem;
    box-shadow: 2px 2px 10px #F5F5F5;
}

.granule h3 {
    padding-left: 0.5rem;
}

.granule:hover {
    border: 1px solid #0065FC;
    box-shadow: 0 0 0.5rem grey;
}

.granule i {
    padding: 1rem 1rem;
    border-radius: 100%;
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#result {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result i {
    border: 1px solid #D9D9D9;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: white;
    color: #0065FC;
    font-size: 12px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Hébergement */
#booking {
    display: flex;
    margin-top: 2rem;
    width: 100%;
}

#booking-all {
    background-color: #F2F2F2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
    width: 60%; 
}

#booking-all h2 {
    font-size: 22px;
    margin: 0%;
    margin-bottom: 1.5rem;
}

.booking-result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 75%;
}

.booking-card {
    margin-bottom: 2rem;
    border: 3px solid white;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 0.5rem grey;
    display: flex;
    flex-direction: column 
}

.booking-card img {
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-radius: 16px 16px 0 0;
}
    
.booking-card a {
    text-decoration: none;
    color: black;   
}

.booking-result h3 {
    font-size: 13px;
    margin: 0;
}

.booking-result p {
    font-size: 11px;
    margin: 0.3rem 0;
}

.booking-notation {
    font-size: 10px;
}
 
.content {
    padding: 0.5rem
}

.plus {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 2rem 0 0 0;
}


/* Les plus populaires*/
#booking-popularity {
    background-color: #F2F2F2;
    border-radius: 16px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 2rem;
    width: 30%; 
}

#popularity-title {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#popularity-title h2 {
    font-size: 22px;
    margin: 0%;
    margin-bottom: 1.5rem;
}

#popularity-title i {
    margin-bottom: 1.5rem;
    font-size: 22px;
}

#popularity-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#popularity-result img {    
    border-radius: 16px 0 0 16px;
    width: 132px;
    height: 132px;
    object-fit: cover;
}

.booking-row {
    border: 3px solid white;
    border-radius: 16px;
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 0.5rem grey;
    padding: 0 5rem 0 0;
}

.booking-row-text {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
}

.booking-row-text h3 {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-row-text p {
    font-size: 11px;
    max-width: 100%;
}

.notation {
    font-size: 10px;
}

.valid {
    color: #0065FC;
}

.unvalid {
    color: #F2F2F2;
}

/* Activités*/
#activity {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

#activity h2 {
    font-size: 22px;
    margin-top: 0;
}

#activity-all {
    display: flex;
}

.activity-big {
    display: flex; 
}

.activity-fat {
   object-fit: cover;
   justify-content: space-between;
   margin-right: 2rem;
   border-radius: 16px;
   box-shadow: 0 0 0.5rem grey ;
   margin-bottom: 1rem;
}

.activity-slim {
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   margin-bottom: 1rem;
}

#activity-2, #activity-3, #activity-5, #activity-6 {
    object-fit: cover;
    justify-content: space-between;
    margin-right: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 0.5rem grey;
    display: flex;
    align-items: center;
}

.activity-box {
    text-decoration: none;
}

.ativity-box img {
    width: 300px;
    height: 150px;
}

.activity-box h3 {
    padding-left: 1rem;
    font-size: 13px;
    color: black;
}

.img-fat {
    width: 305px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.img-slim {
    width: 305px;
    height: 110px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}


/* Footer */
footer {
    display: flex;
    background-color: #F2F2F2;
}

.about-section {
    width: 80%;
}

.about-section h3 {
    font-size: 15px;
    padding-left: 1rem;
    padding-top: 1rem;  
}

.about-section li {
    list-style: none;
    padding-bottom: 0.3rem;    
}

.list-link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    list-style: none;
    margin-left: -1.5rem; 
}


/* Responsive */
@media screen and (max-width: 1377px) {
    body {
        width: 1212px;
    } 
    
    #global-page {
        padding-left: 0.5rem;
        width: 1212px;
    }

    header {
        display: block;
    }

    header nav {
        padding-top: 1rem;
    }

    #booking-all {
        width: 70%;
    }

    #booking-popularity {
        margin-left: 1rem;
        width: auto;
    }
    
    .booking-row {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .booking-row-text i {
        padding-top: 0;
    }

    .booking-row-text {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
    
    #popularity-result img {
        width: 236px;
        height: 112px;
        border-radius: 16px 16px 0 0;
    }
    
    .acivity-big {
        justify-content: space-around;
        margin-right: .5rem;
    }

    .ativity-fat{
        margin-right: 1rem;
    }
    
    .img-fat {
        width: 270px;
    }

    .img-slim {
        width: 270px;
    }

    .notation {
        padding: 0;
    }
}

/* Media = tablet */
@media all and (max-width: 1200px) {
    #booking-all:nth-child(1) {
        order: 2;
    }

    #booking-popularity:nth-child(2) {
        order: 1;
    }

    #booking {
        flex-direction: column;
    }

    #booking-all {
        margin-left: 1rem;
        width: auto;
    }

    .booking-result {
        justify-content: space-around;
    }   

    .booking-card{
        margin: 0 2rem 2rem 2rem;
    }

    .plus {
        padding: 1rem 0;
    }

    #booking-popularity {
        margin-bottom: 1rem;
    }

    #popularity-result {
       flex-direction: row;
    }
    
    .booking-row {
        margin: 0;
    }

    #activity {
        margin-left: 1rem;
    }

    .activity-fat {
        margin-right: 2.7rem;
    } 
}

@media screen and (max-width: 973px) {
    .boking-result {
        justify-content: flex-start;
    }

    .boking-card {
        margin: 0.5rem;
    } 
    
    #activity-all {
        justify-content: space-between;
    }

    .activity-big {
        width: 48%;
        display: block;
    }

    .activity-fat {
        width: 98%;
    }

    .activity-fat h3 {
        padding-bottom: 0.8rem;
    }

    .activity-slim {
        margin: 0;
    }

    #activity-2, #activity-3, #activity-5, #activity-6 {
        width: 98%;
    }

    #activity-2, #activity-5 {
        margin: 0 0 1rem 0;
    }

    .img-fat {
        width: 100%;
        height: 110px;
    }

    .img-slim {
        width: 100%;
        height: 110px;
    }
}

@media screen and (max-width : 913px){
    #global-page {
        width: 870px;
    }
    
    #booking-all {
        width: 800px;
        padding-right: 2rem;
    }
    
    .booking-card {
        margin: 0.5rem;
    }

    #booking-popularity {
        width: 800px;  
    }

    #activity {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 825px) {
    #filter-box {
        flex-wrap: wrap;
    }

    footer {
        width: 100%;
    }
}

/* Media = mobile */
@media all and (max-width : 429px) {
    #global-page {
        width: 370px;
    }

    body {
        margin: 0;
    }
    
    header {
        position: relative;
        display:flex ;
    }

    #logo {
        align-self: flex-start;  
    }

    header nav a {
        margin: 0;
    }

    .header-nav-link {
        display: block;
        text-align: center;
        width: 50%;
        padding: 1rem;
    }

    .register {
        margin: 0 1rem 2rem;
    }

    .book-activ {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 3px solid #F2F2F2;
        
    }
    
    .book-activ a:hover {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
    }

    .search h1 {
        margin-top: 1rem;
    }

    .search-button {
        display: none;
    }

    .search-loupe {
        display: block;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: 3px #0065FC solid;
        border-radius: 1rem;
        margin-left: -1.5rem;
        padding : 0 1rem
    }

    .search-input { 
        height: 2rem;
        font-size: 20px;
    }

    .search p {
        font-size: 15px;
    }

    #result i {
        margin: 0 0.5rem;
    }

    #gps {
        padding: 1rem 1.5rem;
    }
    
    #filter {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
    }

    #filter-box {
        margin-left: 0;
    }

    .granule {
        margin: 1rem 1rem 0 1rem;
        padding : 0 1rem 0 0;
    }

    #booking {
        flex-direction: column;
    }

    #booking-all {
        background-color: white;
        padding: 2rem 0 2rem 0;
        margin-left: 2rem;
        width: 292px;
    }

    #booking-result {
        display: block;
        width: 292px;
    }

    .booking-card {
        margin-bottom: 1rem;
        width: 300px;
    }
    
    .booking-card img {
        width: 300px;
    }

    .booking-card p {
        margin: 0.4rem 0;
    }

    .plus {
        margin-top: 1rem;
    }

    #booking-popularity {
        margin: 0;
        width: 292px;
    }

    #popularity-result {
        flex-direction: column;
    }

    #popularity-result img {
        width: 132px;
        border-radius: 16px 0 0 16px;
    }

    .booking-row {
        flex-direction: row;
        margin-bottom: 1rem;
        width: 300px;
    }

    .booking-row-text {
        padding: 0.5rem 1rem 0.3rem 0.9rem;
    } 

    .booking-row-text i {
        padding-top: 1.5rem;
    }

    #activity {
        margin: 0 0 2rem 2rem;
        width: 292px;
    }

    #activity-all {
        display: block;
    }

    .activity-fat, #activity-2, #activity-3, #activity-5, #activity-6 {
        width: 300px;
        height: 160px;
        margin-right: 0;
        display: block;
        margin-bottom: 1rem;
    }

    .img-fat, .img-slim {
        width: 300px;
        height: 120px;
    }

    .activity-box h3 {
        padding: 0.5rem 0 0 0.5rem;
        margin: 0;
    }
     
    footer {
        display: block;
        margin: 0;
        width: 352px;
    }

    .about-section {
        width: 100%;
        margin: 0 1rem;
    }
}   
        
        



